* {
  margin: 0;
}

.App {
display: flex;  
flex-direction: column;
align-items: center;
background-color: #282c34;
background-image: url("./components/css/background.jpg");
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
}

.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 1% 0;
}
.App-header code {
  background-color: rgba(24, 25, 27, 0.87);
  padding: 0.5em;
  border-radius: 10%;
}

.calculator{
display: flex;
flex-direction: column;
align-items: center;
background-color:  #1C1C1C;
border: 2px solid #1C1C1C;
border-radius: 3%;
margin-bottom: 1%;
}

.result{
  font-family: 'Helvetica', 'Arial', sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100px;
  color: #eee;
  font-size: calc(22px + 2vmin);
  font-weight: 600;
  border: 2px solid  #1C1C1C;
}

.calculations{
  font-size: calc(10px + 2vmin);  
  color: rgba(255, 255, 255, 0.493);
}

.calculator-digits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "op_modulo op_power op_sqrt op_AC"
  "digit_7 digit_8 digit_9 op_plus"
  "digit_4 digit_5 digit_6 op_minus"
  "digit_1 digit_2 digit_3 op_multi"
  "dot digit_0 equal op_divide";
  margin: 0 auto;
  border: 2px solid  #1C1C1C;
  border-radius: 5px;
}

#op_modulo{
  grid-area: op_modulo;
}

#op_power{
  grid-area: op_power;
}

#op_sqrt{
  grid-area: op_sqrt;
}

#op_AC{
  grid-area: op_AC;
}

#digit_7{
  grid-area: digit_7;
}

#digit_8{
  grid-area: digit_8;
}

#digit_9{
  grid-area: digit_9;
}

#op_plus{
  grid-area: op_plus;
}

#digit_4{
  grid-area: digit_4;
}

#digit_5{
  grid-area: digit_5;
}

#digit_6{
  grid-area: digit_6;
}

#op_minus{
  grid-area: op_minus;
}

#digit_1{
  grid-area: digit_1;
}

#digit_2{
  grid-area: digit_2;
}

#digit_3{
  grid-area: digit_3;
}

#op_multi{
  grid-area: op_multi;
}

#dot{
  grid-area: dot;
}

#digit_0{
  grid-area: digit_0;
}

#equal{
  grid-area: equal;
}

#op_divide{
  grid-area: op_divide;
}

.button {
  font-family: 'Helvetica', 'Arial', sans-serif; 
  background: rgb(45, 49, 63); /* light background with opacity 50% */
  border: 1px solid #111; /* black border */
  padding: 23px;
  color: #eee; /* white text */
  border-radius: 50%; /* rounded corners */
  font-size: 22px; /* larger fonts */
  font-weight: 700;
  cursor: pointer; /* make it look clickable */
  margin: 4px;
}

.button:hover {
  background:  #8888884f; /* light background with opacity 50% */
}

.button:focus{
  outline: none;
}

.number {
  background-color: rgb(68, 68, 68);
}

.op {
  background-color: #bbbbbb;
  color: #1C1C1C;
}

.op:hover {
  background-color: #979797;
}

.delete {
  background-color: rgb(46, 153, 46);
}

.operations{
  display: flex;
  flex-direction: column;
}

.operations>.button:hover{
  background-color: rgb(64, 70, 90);
}

.AC {
  background-color: #FF9500;
}

#op_AC:hover {
  background-color: rgb(245, 179, 57);
}